body {
  margin: 0;
  background-color: hsl(49, 100%, 96%);
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeue/HelveticaNeue67MediumCondensed/HelveticaNeue67MediumCondensed.otf');
}
a {
  color: black;
}
:root{
    --fontFamily: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --weight: 600;
}
p, strong, a, li, button, figcaption{
    font-family: 'Helvetica Neue';
    font-weight: var(--weight);
    font-size: small;
}
/* re instating design starts here (design for mobile first) */
/* general rules >>>>>>>>>>>>>>>>>>>>>>>>> */
button {
    background-color: hsl(49, 100%, 90%);
    border: hsl(55, 100%, 10%) solid 0.1rem;
    border-radius: 1rem;
    cursor: pointer;
}
blockquote {
    margin-left: 0;
}
.spinnerHr, #contentLine {
    margin-left: auto;
    width: 25ex;
    height: 0.7ex;
    background: linear-gradient(to bottom, hsl(49, 100%, 80%) 70%, hsl(49, 100%, 100%));
    border-radius: 0.5rem;
    border-color: hsl(49, 100%, 10%);
}
.spinnerBio {
    background: linear-gradient(to bottom, #3ABDF0 70%, #1F56E4);
}
/* biography page css >>>>>>>>>>>>>>>>>>>>>>>>> */
/* navigational bar (header) %% */
#mainNav {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsl(49, 100%, 80%);
    display: flex;
    justify-content: space-between;
}
#mainNav > * {
  padding: 0 1rem 0 1rem;
}
#logo {
    text-decoration: none;
    display: flex;
    background: linear-gradient(to bottom, hsl(49, 100%, 50%) 20%, hsl(49, 100%, 100%));
}
#flexLinks {
    display: flex;
    gap: 1rem;
}
.navLink {
    cursor: pointer;
    background-color: hsl(49, 100%, 90%);
    text-decoration: none;
    color: hsl(49, 40%, 0%);
}
/* biography information section (main) %%*/
#fixPosition {
    width: 100%;
    height: 2.3rem;
}
#fullBioPage {
    text-align: center;
    color: white;
    background: url(images/Background/backgroundTry.webp);
    padding: 1rem;
    background-color: hsl(49, 100%, 96%);
}
#hackerMask {
    float: right;
    position: relative;
}
#unfoldText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  animation: scale 3s infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }  
}
/* picture on top of each other */
#hackMask {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
#anas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.shadow {
    /* background-color: aliceblue; */
    box-shadow: 0.01rem 0.01rem 0.5rem 0.05rem hsl(49, 100%, 10%);
    animation: circle 3s infinite;
}
@keyframes circle {
    0% { clip-path: circle(75%); }
    50% { clip-path: circle(50%); }
    100% { clip-path: circle(75%); }
}
#citation {
    display: block;
    text-align: center ;
}
/* spinner area */
#spinnerArea {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: hsl(49, 100%, 94%);
}
#spinningWheelSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes scaleWheel {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }  
}
/* footer section %% */
footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: hsl(49, 100%, 80%);
}
li > * {
    margin-left: 0.5rem;
}
#address > * {
    margin-left: 0.5rem;
}
/* ///////////////////////// topics page //////////////////////////////// */
#topicWall {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    height: 50%;
}
#mainImgCon {
  position: relative;
}
#topicOverlay {
    position: absolute;
    width: 100%;
    height: calc(100%);
    top: 0;
    left: 0;
    opacity: 40%;
}
#topicTitle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}
/* topic card css */
#fullCard {
    width: 100%;
    max-height: fit-content;
    display: flex;
}
#titleDesc {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 65%;
}
#additional {
    margin-top: 5%;
    display: flex;
    gap: 0.4rem;
    width: 40% ;
}
[id^="additionalBtn"] {
    height: fit-content;
    margin-top: 10%;
    background-color: hsl(49, 100%, 80%);
    border: 3x solid gold;
    z-index: 1;

}
[id^="additionalBtn"]:hover {
    opacity: 85%;
    background-color: gold;
    z-index: 2;
}
[id^="additionalBtn"]:focus {
  opacity: 85%;
  background-color: gold;
  z-index: 2;
}
#additionalHr {
    width: 3%;
    height: 20%;
    border-radius: 0.5rem;
    background: linear-gradient(to bottom, hsl(49, 100%, 80%) 70%, hsl(49, 100%, 100%));
    border-color: hsl(49, 100%, 10%);
}
.topicCardContainer {
  margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.topicCardCon {
    position: relative;
    width: 100%;
    height: auto;
  }
  .topicCardCon::before {
    content: "";
    position: absolute;
    inset: -5px;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    box-shadow: 0.2rem 0.2rem hsl(49, 100%, 50%);
    opacity: 20%;
    filter: blur(10px);
    z-index: 0;
  }
  .topicCardCon:hover::before {
    opacity: 40%;
  }
/* ///////////////////////// additional animation page //////////////////////////////// */
/* additional content page */
  /* grid areas */
  #statusTopRight {
    grid-area: status;
  }
  #content {
    grid-area: content;
  }
  #contentImage {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
  #arrowPrev {
    cursor: pointer;
    z-index: 1;
    grid-area: prev;
  }
  #arrowNext {
    cursor: pointer;
    z-index: 1;
    grid-area: next;
  }
  #arrowPrev:hover {
    transform: scale(0.8);
  }
  #arrowNext:hover {
    transform: scale(0.8);
  }
  #midBottom {
    grid-area: disposal;
  }
  /* grid */
  #animationGrid {
    background-color: hsl(49, 100%, 96%);
    display: grid;
    height: 100vh;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    grid-template-rows: 33.33vh 33.33vh 33.33vh;
    grid-template-areas: 
    ". . status"
    "prev content next"
    ". disposal .";
    align-items: center;
    justify-items: center;
  }
  #statusDots {
    display: block;
  }
  @keyframes move {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(5vw);
    }
  }
  @keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-40deg);
    }
  }
  @keyframes rotation2 {
    from {
      transform: rotate(-40deg);
    }
    to {
      transform: rotate(0);
    }
  }
/* >>>>>>>>>>>>>>>>>>>>> breakpoints start here >>>>>>>>>>>>>>>>>> */
@media only screen and  (min-width: 760px) {
  p, strong, a, li, button{
      font-family: var(--fontFamily);
      font-weight: var(--weight);
      font-size: medium;

  }
  #mainNav {
      width: 100%;
  }
  /* ///////////////////////// topics page //////////////////////////////// */  
  #fullCard {
    width: 30%;
  }
  .topicCardContainer {
    gap: 2rem;
  }
  #content {
    max-width: 20%;
  }
}
@media only screen and (min-width: 1100px) {
    #hackerMask {
        right: 10%;
    }
    /* ///////////////////////// topics page //////////////////////////////// */  
    #fullCard {
        width: 18%;
    }
}
/* ----------------------------------------- */