:root{
    --fontSize: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --weight: 600;
}

html {
    background: white;
}

body {
    margin: 0 32px;
    background: #F9F6EE;
}


p{
    font-family: var(--fontSize);
    font-weight: var(--weight);
}

#topHome {
    display: flex;
    margin-bottom: 0.2rem;
}

#img {
    position: relative;
}

#picOverlay {
    position: absolute;
    opacity: 15%;
}

#title {
    margin: auto;
}

#topSeperate{
    width: calc(100% - 20%);
    background: linear-gradient(to bottom, #3ABDF0 70%, #1F56E4);
    height: 0.5rem;
    border-radius: 0.5rem;
}

/* biographyCss */

#biography {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#biographyPara {
    max-width: 50%;
    max-height: 50%;
    margin: 2rem auto 3rem auto;
}

/* spinner section css */

#spinnerText{
    display: flex;
    gap: 2rem;
    margin-left: 5vw;
    margin-bottom: 3rem;
}

#spinnerHr {
    margin: 0;
    width: calc(0.2%);
    background: linear-gradient(to bottom, #3ABDF0 70%, #1F56E4);
    border-radius: 0.5rem;
}

#surpriseQuote {
    margin-left: calc(10%);

}

/* spinning wheel css */

#spinningWheelDiv {
    margin-bottom: 0;
    position: relative;
}
#spinningWheel {
    margin-left: calc(30%);
}

#redrawCircle {
    background-color: #EFF256;
    position: absolute;
    top: 50%;
    border: 3x solid yellow;
    border-radius: 5rem;
}

/* hackerMask css */

#photoSec {
    position: absolute;
    top: 200;
    right: 100;
}
#hackerMask {
    position: relative;
}

#unfoldText {
    position: relative;
}

/* picture on top of each other */
#hackMask {
    position: relative;
    z-index: 1;
}

#anas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}



/* topics page css  */

/* overlay topic effect */
#mainImgCon {
    margin-bottom: 5%;
    position: relative;
    top: 0;
    left: 0;
}
#topicWall {
    position: relative;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
}

#topicOverlay {
    position: absolute;
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    opacity: 74%;
}
#topicTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
}

#backToWheel {
    position: absolute;
    color: blue;
    text-decoration: underline;
    top: 65%;
    left: 50%;
    font-size: 1rem;
} 



/* topic card css */

#titleDesc {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 65%;
}

#fullCard {
    width: 20%;
    max-height: 50%;
    gap: 5%;
    display: flex;

}

#additional {
    margin-top: 10%;
    display: flex;
    gap: 0.4rem;
    width: 30% ;
}


[id^="additionalBtn"] {
    height: fit-content;
    margin-top: 10%;
    background-color: #EFF256;
    border: 3x solid yellow;
    border-radius: 5rem;
    z-index: 1;

}

[id^="additionalBtn"]:hover {
    opacity: 85%;
    background-color: gold;
    z-index: 2;
}

#additionalHr {
    width: 3%;
    background: linear-gradient(to bottom, #3ABDF0 70%, #1F56E4);
    height: 10%;
    border-radius: 0.5rem;
}

.topicCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}


.topicCardCon {
    position: relative;
    width: 100%;
    height: auto;
  }

  .topicCardCon::before {
    content: "";
    position: absolute;
    inset: -5px;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    box-shadow: 5px 10px violet;
    opacity: 20%;
    filter: blur(10px);
    z-index: 0;
  }

  .topicCardCon:hover::before {
    opacity: 40%;
  }


  /* additional content page */

  /* grid areas */
  #statusTopRight {
    grid-area: status;
  }

  #content {
    width: 200px;
    height: 300px;
    grid-area: content;
  }
  #arrowPrev {
    grid-area: prev;
  }

  #arrowNext {
    grid-area: next;
  }

  #midBottom {
    grid-area: disposal;
  }

  /* grid */
  #animationGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". . status"
    "prev content next"
    ". disposal .";
    justify-items: center;
    align-items: center;
  }

  #statusDots {
    display: block;
  }

 
  
