#projectCard {
    display: none;
}
body {
    overflow-x: hidden;
}
[id^="projects"] {
    color: white;
    position: relative;
    padding-bottom: 1rem;
    text-align: center;
    margin: auto;
    width: 70vw;
    height: fit-content;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, hsl(49, 100%, 70%) 70%, hsl(49, 100%, 80%));
    border-radius: 1rem;
    align-items: center;
}
#imageAndDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#descPara {
    max-width: 100%;
}
#projectPic {
    box-shadow: 0.2rem 0.2rem 1rem 0.5rem gold;
    border-radius: 100%;
    animation: circle 3s infinite;
}
@keyframes circle {
    0% { clip-path: circle(60%); }
    50% { clip-path: circle(50%); }
    100% { clip-path: circle(60%); }
}
#link {
    word-break: break-all;
    display: flex;
    flex-direction: column;
}
.skillsGain {
    padding: 0;
    width: 100%;
    overflow: hidden;
}
#skillsItem {
    font-weight: bolder;
    list-style: none;
    display: flex;
    gap: 1rem;
    animation: move 40s infinite;
}
#projectLink {
    text-decoration: none;
}
#projectLink:hover {
    transform: scale(1.1);
}
/* projects navigation  */
#projectNav {
    position: fixed;
}
#projectNav > li {
    width: fit-content;
    margin-bottom: 0.5rem;
    list-style: none;
    border: 0.3rem solid black;
    border-radius: 100%;
}
#projectNav > li:focus {
    transform: scale(1.2);
}
@keyframes move {
    0% {
        transform: translate(-150%);
    }
    100% {
        transform: translate(100%);
    }
  }